<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1 class="mt-3 col-md-12 d-flex justify-content-center">About</h1>
      <div class="col-md-12">
        <p class="font-weight-bold">ながのCAKEは全国発送可能なケーキ屋さんです。<br>
           お子様からお年寄りの方までお召し上がりいただけるよう、<br>
           様々なバリエーションをご用意しております。<br>
           また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
           ぜひご注文ください。
        </p>
      </div>

      <div class="col-sm-6">
        <%= image_tag 'about_nagano_cake', size: '400x300', class: "d-flex justify-content-center mb-3" %>
      </div>
    </div>
  </div>
</div>