<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 mt-5 img-box d-flex justify-content-center">
		  <%= image_tag 'nagano_main', size: '500x300', class: "col-sm-6 cover-img" %>
			<p class="text-center font-weight-bold">ようこそ、ながのCAKEへ！<br>
         このサイトは、ケーキ販売のECサイトになります。<br>
         会員でない方も商品の閲覧はできますが、<br>
         購入には会員登録が必要になります。
      </p>
		</div>
	</div>
</div>