@import '~bootstrap/scss/bootstrap';


.admin-item-new-taxform {
  width: calc(100% - 20px);
  margin-right: 3px;
  display: inline-block;
}

.footer {
  background-color: #cd853f;
}

.img-box {
  position: relative;
}

.img-box p {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 70px;
  color: #fff;
}