<!-- 顧客側商品一覧画面 -->
<h2>商品一覧</h2>

<% @items.each do |item| %>
<div>
  <%= link_to item_path(item.id) do %>
  <%= image_tag item.item_image, size: "250x200" %><br>
  <% end %>
  <label>商品名</label><br>
  ¥<%= item.price %>
</div>
<% end %>