<!-- 顧客側商品詳細画面 -->

<div>
  <%= image_tag @item.item_image, size: "250x200" %>
</div>

<div>
  <strong><%= @item.name %></strong><br>
  <p><%= @item.introduction %></p><br>
  <h3>¥<%= (@item.price * 1.1).to_i %>(税込)</h3>
</div>