<!-- 管理者用header部分テンプレートファイル -->

      <nav>
        <!-- headerロゴ -->
        <%= image_tag 'nagano_cake_logo' %>
          <ul>
            <!-- 管理者がログインしている場合のヘッダーリスト -->
            <li>
              <%= link_to admin_items_path do %>
              <span>商品一覧</span>
              <% end %>
            </li>
            <li><span>会員一覧</span></li>
            <li><span>注文履歴一覧</span></li>
            <li>
              <%= link_to admin_genres_path do %>
              <span>ジャンル一覧</span>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_admin_session_path, method: :delete do %>
              <span>ログアウト</span>
              <% end %>
            </li>
          </ul>
      </nav>